*{
    margin: 0;
    padding :0;
    
}
.full_banner{
    /* border: 1px solid lightgray; */
    width : 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:rgb(248, 246, 246);
}
.parent{
    /* border: 1px solid gray; */
    
    margin: 20px; /* 1st empty space from top */
}
#banner_align{
    margin-left: auto;
    margin-right: auto;
    
}
.left_child{
    width: 48.5%;
    float : left;
    /* border: 1px solid gray; */
    
}
.right_child{
    width: 48.5%;
    float : right;
    /* border: 1px solid gray; */
    /* display: inline-block;
    margin-left: 40px; */
}
.vertical-line {
    display: inline-block;
    border-left: 2px dashed lightblue;
    margin: 0 10px;
    height: 880px;
}
h1,h2{
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: bolder;
    /* border-spacing: 0px; */
    /* text-transform: uppercase; */
}
.header{
    font-family:'Noto Sans', sans-serif;
}   
.span-1{
    color:cadetblue;
    text-transform: uppercase;
}
.span-2{
    color: orange;
    text-transform: uppercase;
}

.text-1{
    font-family:'Mukta', sans-serif;
    color:grey ;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.image-1{
    float: right;  
    width: 180px; 
    padding-right: 50px;
}
.header-1{
    font-family:'Noto Sans', sans-serif;
}
.span-3{
    color:darkturquoise;
    text-transform: uppercase;
}
.span-4{
    color: darkturquoise;
    text-transform: uppercase;
}
.text-2{
    font-family:'Mukta', sans-serif;
    color:dodgerblue ;
    text-align: left;
    font-weight: bold;
}
.b1{
    text-transform: uppercase;
    font-family:'Noto Sans', sans-serif; 
    text-align: right;
}
.span-5{
    color:darkturquoise;
    text-transform: uppercase;
    text-align: right;
}
.span-6{
    color:orange;
    text-align: right;
}
.sub-b{
    color:dodgerblue;
    text-transform: uppercase;
    text-align: right;

}
.image-2{
    width: 87px;
    padding-right: 10px;
}

.left_td_align{
    text-align: center;
    width: 30%;
}
.span-7{
    text-transform: uppercase;
    color: orange;
}
.span-8{
    color:dodgerblue;
}

.span-9{
    text-transform: uppercase;
    color: dodgerblue;
}
.image-3{
    width: 28px;

}

.padding_10{
    
    padding-bottom: 10px;

}   
.margin_20{
    margin-top: 20px;
}
.ban_label{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:#fff;
    background-color:rgb(81, 231, 241);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.header-2{
    font-family:'Noto Sans', sans-serif;
   
}


.table-2{
    width: 50px;
}
.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 20px;
    width: 99px;
    height: 120;
}
.header-3{
    text-transform: uppercase;
    color:darkturquoise;
    font-size: 30px;
}
.food-1{
    color:lightskyblue;
    font-size:  33px;
    font-weight: 1000;
    
}
.food-weigth-1{
    color: orangered;
    font-size: 67px;
    font-weight: 500;
}
.img-size-4{
    width: 184px;
    height: 90px

}
.img-size-5{
    width: 110px;

}
.title{
    text-transform: uppercase;
    color: darkturquoise;
    font-size:32px ;
}
.pepoles{
    color: orange;
    font-size: 28px;
}
.text{
    color:dodgerblue ;
    font-size: 18px;
    
}
